// Grid
@mixin grid($column) {
      width:(80% / 12) * $column;
      //margin: 50px;
  }
  
  // Transition Ease
  @mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
      -webkit-transition: $attr $time $curve;
      -moz-transition: $attr $time $curve;
      -o-transition: $attr $time $curve;
      -ms-transition: $attr $time $curve;
      transition: $attr $time $curve;
  }
  
  
  // Colors
  $blue:#313A3D;
  $orange:#FD9638;
  $dark-orange:darken($orange, 20%);
  $grey:#B6B6B6;
  $light-grey:lighten($grey, 15%);
  
  $background:#efefef;
  $field-color:#E8E9EA;
  

  
  #hire {
        display: flex;
        justify-content: center;
        text-align:center;
        width:100%;
        padding-bottom: 40px;
    h1 {
      margin-bottom:20px;
      font-size:$font-size-tall*1.25;
      text-transform:uppercase;
      
    }
  }
  
  // Form
  .contact7_form {
          border: 1px solid rgba(82, 82, 82, 0.555);
          padding: 10px;
          @include grid(7);
          background-color: rgba(255, 255, 255, 0.383);
          input[type="text"],
            input[type="email"],
                  textarea
            {
                  border:none;
                  background-color:$blue;
                  color: #fff;
                  padding: 10px;
                  margin:0;
                  font-size: 1.4em;
                  letter-spacing: 0.05em;
                  text-transform: lowercase;
                  &:hover{
                        background-color: rgb(209, 209, 209);
                        color: $blue;
                  }
            }


            ::-webkit-input-placeholder { /* WebKit browsers */
                  color: $orange;
                  }
                  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                  color: $orange;
                  }
                  ::-moz-placeholder { /* Mozilla Firefox 19+ */
                  color: $orange;
                  }
                  :-ms-input-placeholder { /* Internet Explorer 10+ */
                  color: $orange;
                  }
            
            ::-webkit-input-placeholder { /* WebKit browsers */
                        color: $orange;
                        }
                        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                        color: $orange;
                        }
                        ::-moz-placeholder { /* Mozilla Firefox 19+ */
                        color: $orange;
                        }
                        :-ms-input-placeholder { /* Internet Explorer 10+ */
                        color: $orange;
                        }
         
  
               
                      
          // Submit Button
          .wpcf7 input[type="submit"] {
                background:$orange;
                color:white;
                -webkit-appearance: none;
                border: none;
                text-transform: lowercase;
    position:relative;
            padding: 13px 50px;
            font-size: 1.4em;
            letter-spacing: 0.1em;
            
            @include ease;
        
                &:hover {
                      background:$blue;
                      color:$orange;
                }
  
                &:focus {
                      outline:none;
                      background:$dark-orange;
                }
          }
    
      }

      // PAGE ONLY CONTACT

      .hire_page{
            padding-top: 150px;
            min-height: 70vh;
      }
    // MEDIA QUERIES

    @media screen and (max-width: 1200px) {
  
      @mixin grid($column) {
            width:(125% / 12) * $column;
            //margin: 50px;
        }
        
        // Transition Ease
        @mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
            -webkit-transition: $attr $time $curve;
            -moz-transition: $attr $time $curve;
            -o-transition: $attr $time $curve;
            -ms-transition: $attr $time $curve;
            transition: $attr $time $curve;
        }
        
        
        
        
        // Colors
        $blue:#313A3D;
        $orange:#FD9638;
        $dark-orange:darken($orange, 20%);
        $grey:#B6B6B6;
        $light-grey:lighten($grey, 15%);
        
        $background:#efefef;
        $field-color:#E8E9EA;
        
        
        
        
        
        
        
        #hire {
              display: flex;
              justify-content: center;
              text-align:center;
              width:100%;
              padding-bottom: 40px;
          h1 {
            margin-bottom:20px;
            font-size:$font-size-tall*1.25;
            text-transform:uppercase;
            
          }
        }
        
        // Form

        .wpcf7 input, textarea{
              width: 100%;
        }
        .contact7_form {
                border: 1px solid rgba(82, 82, 82, 0.555);
                padding: 10px;
                @include grid(7);
        
                .field {
                      width:100%;
                      position:relative;
                      margin-bottom: 30px;
        
                      $hover-label-width:20%;
                      $placeholder-bumper:0%;
                      $label-padding:15px;
        
                      // Label
                      label {
                            text-transform: lowercase;
                            position:absolute;
                            top:0;
                            left:0;
                            background:$blue;
                            width:100%;
                            padding:($label-padding + 3px) 0;
                            font-size: 1.5em;
                            letter-spacing: 0.075em;
                            color: #fff;
                            @include ease(333ms);
        
                            // Checkmark
                            + span {
                                  opacity: 0;
                                  color:white;
                                  display: block;
                                  position:absolute;
                                  top: 12px;
                                  left: 7%;
                                  font-size: 2.5em;
                                  text-shadow:1px 2px 0 $dark-orange;
        
                                  @include ease(333ms);
                            }
                      }
        
                      // Fields
                      input[type="text"],
                      textarea {
                            border:none;
                            background:$field-color;
                            width:100% - $hover-label-width - $placeholder-bumper;
                            margin:0;
                            padding:$label-padding 0;
                            padding-left:$hover-label-width + $placeholder-bumper;
                            color:$blue;
                            font-size: 1.4em;
                            letter-spacing: 0.05em;
                            text-transform: lowercase;
        
                            &#msg {
                                  height: 50px;
                                  resize: none;
                                  @include ease(333ms);
                            }
        
                            // Focus and JS Toggle Class
                            &:focus,
                            &.focused {
                                  outline:none;
        
                                  &#msg {
                                        overflow: hidden;    
                                        padding-bottom:200px;
                                  }
        
                                  + label {
                                        width:$hover-label-width*1.25;
                                        background:$orange;
                                        color:$blue;
                                  }
                            }
        
                            // JS Toggle Class
                            &.focused {
                                  + label {
                                        color: $orange;
                                  }
                            }
                      }
        
                      // Field Hover
                      &:hover {
                            label {
                                  width:$hover-label-width*1.25;
                                  background:$blue;
                                  color:white;
                            }
                      }
                }
        
                // Submit Button
                input[type="submit"] {
                      width: 60%;
                      background:$orange;
                      color:white;
                      -webkit-appearance: none;
                      border: none;
                      text-transform: uppercase;
          position:relative;
                  padding: 13px 50px;
                  font-size: 1.4em;
                  letter-spacing: 0.1em;
                  
                  @include ease;
              
                      &:hover {
                            background:$blue;
                            color:$orange;
                      }
        
                      &:focus {
                            outline:none;
                            background:$dark-orange;
                      }
                }
          }
        

  }
  
    @media screen and (max-width: 900px) {
  
        @mixin grid($column) {
              width:(165% / 12) * $column;
              //margin: 50px;
          }
          
          // Transition Ease
          @mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
              -webkit-transition: $attr $time $curve;
              -moz-transition: $attr $time $curve;
              -o-transition: $attr $time $curve;
              -ms-transition: $attr $time $curve;
              transition: $attr $time $curve;
          }
          
          
          
          
          // Colors
          $blue:#313A3D;
          $orange:#FD9638;
          $dark-orange:darken($orange, 20%);
          $grey:#B6B6B6;
          $light-grey:lighten($grey, 15%);
          
          $background:#efefef;
          $field-color:#E8E9EA;
          
          
          
          
          
          
          
          #hire {
                display: flex;
                justify-content: center;
                text-align:center;
                width:100%;
                padding-bottom: 40px;
            h1 {
              margin-bottom:20px;
              font-size:$font-size-tall*1.25;
              text-transform:uppercase;
              
            }
          }
          
          // Form

          .wpcf7 input, textarea{
                max-width: 90vw;
          }
          .contact7_form {
                  border: 1px solid rgba(82, 82, 82, 0.555);
                  padding: 10px;
                  @include grid(7);
          
                  .field {
                        width:100%;
                        position:relative;
                        margin-bottom: 30px;
          
                        $hover-label-width:20%;
                        $placeholder-bumper:0%;
                        $label-padding:15px;
          
                        // Label
                        label {
                              text-transform: lowercase;
                              position:absolute;
                              top:0;
                              left:0;
                              background:$blue;
                              width:100%;
                              padding:($label-padding + 3px) 0;
                              font-size: 1.5em;
                              letter-spacing: 0.075em;
                              color: #fff;
                              @include ease(333ms);
          
                              // Checkmark
                              + span {
                                    opacity: 0;
                                    color:white;
                                    display: block;
                                    position:absolute;
                                    top: 12px;
                                    left: 7%;
                                    font-size: 2.5em;
                                    text-shadow:1px 2px 0 $dark-orange;
          
                                    @include ease(333ms);
                              }
                        }
          
                        // Fields
                        input[type="text"],
                        textarea {
                              border:none;
                              background:$field-color;
                              width:80% - $hover-label-width - $placeholder-bumper;
                              margin:0;
                              padding:$label-padding 0;
                              padding-left:$hover-label-width + $placeholder-bumper;
                              color:$blue;
                              font-size: 1.4em;
                              letter-spacing: 0.05em;
                              text-transform: lowercase;
          
                              &#msg {
                                    height: 50px;
                                    resize: none;
                                    @include ease(333ms);
                              }
          
                              // Focus and JS Toggle Class
                              &:focus,
                              &.focused {
                                    outline:none;
          
                                    &#msg {
                                          overflow: hidden;    
                                          padding-bottom:200px;
                                    }
          
                                    + label {
                                          width:$hover-label-width*1.25;
                                          background:$orange;
                                          color:$blue;
                                    }
                              }
          
                              // JS Toggle Class
                              &.focused {
                                    + label {
                                          color: $orange;
                                    }
                              }
                        }
          
                        // Field Hover
                        &:hover {
                              label {
                                    width:$hover-label-width*1.25;
                                    background:$blue;
                                    color:white;
                              }
                        }
                  }
          
                  // Submit Button
                  input[type="submit"] {
                        background:$orange;
                        color:white;
                        -webkit-appearance: none;
                        border: none;
                        text-transform: uppercase;
            position:relative;
                    padding: 13px 50px;
                    font-size: 1.4em;
                    letter-spacing: 0.1em;
                    
                    @include ease;
                
                        &:hover {
                              background:$blue;
                              color:$orange;
                        }
          
                        &:focus {
                              outline:none;
                              background:$dark-orange;
                        }
                  }
            }
          
  
    }

/*// Grid
@mixin grid($column) {
    width:(80% / 12) * $column;
    //margin: 50px;
}

// Transition Ease
@mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
    -webkit-transition: $attr $time $curve;
    -moz-transition: $attr $time $curve;
    -o-transition: $attr $time $curve;
    -ms-transition: $attr $time $curve;
    transition: $attr $time $curve;
}




// Colors
$blue:#313A3D;
$orange:#FD9638;
$dark-orange:darken($orange, 20%);
$grey:#B6B6B6;
$light-grey:lighten($grey, 15%);

$background:#efefef;
$field-color:#E8E9EA;







#hire {
      display: flex;
      justify-content: center;
      text-align:center;
      width:100%;
      padding-bottom: 40px;
  h1 {
    margin-bottom:20px;
    font-size:$font-size-tall*1.25;
    text-transform:uppercase;
    
  }
}

// Form
form {
        border: 1px solid rgba(82, 82, 82, 0.555);
        padding: 10px;
        @include grid(7);
        background-color: rgba(255, 255, 255, 0.685);
        .field {
              width:100%;
              position:relative;
              margin-bottom: 30px;

              $hover-label-width:20%;
              $placeholder-bumper:0%;
              $label-padding:15px;

              // Label
              label {
                    text-transform: uppercase;
                    position:absolute;
                    top:0;
                    left:0;
                    background:$blue;
                    width:100%;
                    padding:($label-padding + 3px) 0;
                    font-size: 1.5em;
                    letter-spacing: 0.075em;
                    color: #fff;
                    @include ease(333ms);

                    // Checkmark
                    + span {
                          opacity: 0;
                          color:white;
                          display: block;
                          position:absolute;
                          top: 12px;
                          left: 7%;
                          font-size: 2.5em;
                          text-shadow:1px 2px 0 $dark-orange;

                          @include ease(333ms);
                    }
              }

              // Fields
              input[type="text"],
              textarea {
                    border:none;
                    background:$field-color;
                    width:100% - $hover-label-width - $placeholder-bumper;
                    margin:0;
                    padding:$label-padding 0;
                    padding-left:$hover-label-width + $placeholder-bumper;
                    color:$blue;
                    font-size: 1.4em;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;

                    &#msg {
                          height: 50px;
                          resize: none;
                          @include ease(333ms);
                    }

                    // Focus and JS Toggle Class
                    &:focus,
                    &.focused {
                          outline:none;

                          &#msg {
                                overflow: hidden;    
                                padding-bottom:200px;
                          }

                          + label {
                                width:$hover-label-width*1.25;
                                background:$orange;
                                color:$blue;
                          }
                    }

                    // JS Toggle Class
                    &.focused {
                          + label {
                                color: $orange;
                          }
                    }
              }

              // Field Hover
              &:hover {
                    label {
                          width:$hover-label-width*1.25;
                          background:$blue;
                          color:white;
                    }
              }
        }

        // Submit Button
        input[type="submit"] {
              background:$orange;
              color:white;
              -webkit-appearance: none;
              border: none;
              text-transform: uppercase;
  position:relative;
          padding: 13px 50px;
          font-size: 1.4em;
          letter-spacing: 0.1em;
          
          @include ease;
      
              &:hover {
                    background:$blue;
                    color:$orange;
              }

              &:focus {
                    outline:none;
                    background:$dark-orange;
              }
        }
  }

  // MEDIA QUERIES 

  @media screen and (max-width: 900px) {

      @mixin grid($column) {
            width:(165% / 12) * $column;
            //margin: 50px;
        }
        
        // Transition Ease
        @mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
            -webkit-transition: $attr $time $curve;
            -moz-transition: $attr $time $curve;
            -o-transition: $attr $time $curve;
            -ms-transition: $attr $time $curve;
            transition: $attr $time $curve;
        }
        
        
        
        
        // Colors
        $blue:#313A3D;
        $orange:#FD9638;
        $dark-orange:darken($orange, 20%);
        $grey:#B6B6B6;
        $light-grey:lighten($grey, 15%);
        
        $background:#efefef;
        $field-color:#E8E9EA;
        
        
        
        
        
        
        
        #hire {
              display: flex;
              justify-content: center;
              text-align:center;
              width:100%;
              padding-bottom: 40px;
          h1 {
            margin-bottom:20px;
            font-size:$font-size-tall*1.25;
            text-transform:uppercase;
            
          }
        }
        
        // Form
        form {
                border: 1px solid rgba(82, 82, 82, 0.555);
                padding: 10px;
                @include grid(7);
        
                .field {
                      width:100%;
                      position:relative;
                      margin-bottom: 30px;
        
                      $hover-label-width:20%;
                      $placeholder-bumper:0%;
                      $label-padding:15px;
        
                      // Label
                      label {
                            text-transform: uppercase;
                            position:absolute;
                            top:0;
                            left:0;
                            background:$blue;
                            width:100%;
                            padding:($label-padding + 3px) 0;
                            font-size: 1.5em;
                            letter-spacing: 0.075em;
                            color: #fff;
                            @include ease(333ms);
        
                            // Checkmark
                            + span {
                                  opacity: 0;
                                  color:white;
                                  display: block;
                                  position:absolute;
                                  top: 12px;
                                  left: 7%;
                                  font-size: 2.5em;
                                  text-shadow:1px 2px 0 $dark-orange;
        
                                  @include ease(333ms);
                            }
                      }
        
                      // Fields
                      input[type="text"],
                      textarea {
                            border:none;
                            background:$field-color;
                            width:100% - $hover-label-width - $placeholder-bumper;
                            margin:0;
                            padding:$label-padding 0;
                            padding-left:$hover-label-width + $placeholder-bumper;
                            color:$blue;
                            font-size: 1.4em;
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
        
                            &#msg {
                                  height: 50px;
                                  resize: none;
                                  @include ease(333ms);
                            }
        
                            // Focus and JS Toggle Class
                            &:focus,
                            &.focused {
                                  outline:none;
        
                                  &#msg {
                                        overflow: hidden;    
                                        padding-bottom:200px;
                                  }
        
                                  + label {
                                        width:$hover-label-width*1.25;
                                        background:$orange;
                                        color:$blue;
                                  }
                            }
        
                            // JS Toggle Class
                            &.focused {
                                  + label {
                                        color: $orange;
                                  }
                            }
                      }
        
                      // Field Hover
                      &:hover {
                            label {
                                  width:$hover-label-width*1.25;
                                  background:$blue;
                                  color:white;
                            }
                      }
                }
        
                // Submit Button
                input[type="submit"] {
                      background:$orange;
                      color:white;
                      -webkit-appearance: none;
                      border: none;
                      text-transform: uppercase;
          position:relative;
                  padding: 13px 50px;
                  font-size: 1.4em;
                  letter-spacing: 0.1em;
                  
                  @include ease;
              
                      &:hover {
                            background:$blue;
                            color:$orange;
                      }
        
                      &:focus {
                            outline:none;
                            background:$dark-orange;
                      }
                }
          }
        

  }*/