// COOKIE POPUP

.CookieMessage {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    z-index: 999;
  }
  
  .CookieMessage-content {
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 12px;
    a {
      color: white;
    }
    
    p {
      margin: 0 0 10px 0;
      font-size: $font-size*1.15;
    }
  }
  
  .CookieMessage-button {
    background: #f6913a;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 5px;
    text-transform: capitalize;
    &:hover {
      background: #e38635;
    }
  }

  @media (max-width: 900px){
    .CookieMessage {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.85);
        z-index: 999;
      }
      
      .CookieMessage-content {
        color: white;
        max-width: 900px;
        margin: 0 auto;
        padding: 10px 10px 0 10px;
        font-family: sans-serif;
        line-height: 1.5;
        font-size: 12px;
        a {
          color: white;
        }
        
        p {
          margin: 0 0 10px 0;
          font-size: $font-size;
        }
      }
      
      .CookieMessage-button {
        background: #f6913a;
        display: inline-block;
        text-decoration: none;
        padding: 5px 10px;
        margin-right: 20px;
        border-radius: 5px;
        text-transform: capitalize;
        &:hover {
          background: #e38635;
        }
      }

  }


  @media (max-width: 600px){
    .CookieMessage {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.85);
        z-index: 999;
      }
      
      .CookieMessage-content {
        color: white;
        max-width: 900px;
        margin: 0 auto;
        padding: 10px 10px 0 10px;
        font-family: sans-serif;
        line-height: 1.5;
        font-size: 12px;
        a {
          color: white;
        }
        
        p {
          margin: 0 0 10px 0;
          font-size: $font-size*0.90;
        }
      }
      
      .CookieMessage-button {
        background: #f6913a;
        display: inline-block;
        text-decoration: none;
        padding: 4px 5px;
        margin-right: 20px;
        border-radius: 5px;
        text-transform: capitalize;
        &:hover {
          background: #e38635;
        }
      }

  }

// navigation responsive

.responsive-bar{
    display: none;
}

// navigation desktop

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 15vh;
    padding: 30px 40px;
    box-sizing: border-box;
    transition: 0.5s;
    background-color: #fff;
    z-index: 2;
    
}

.navigation_blog{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: 15vh;
    padding: 30px 40px;
    box-sizing: border-box;
    transition: 0.5s;
    background-color: #fff;
    z-index: 2;
}

nav.black{
    height: 110px;
    padding: 20px 40px;
    
}

nav .logo{
    float: left;
    transition: 0.5s;
    text-transform: uppercase;
    p{
        float: left;
    }
    h1{
        float: left;
        font-size: $font-size*1.25;
        font-weight: 400;
        padding: 30px 0 10px 8px;
        line-height: 1.2em;
        span{
            font-weight: 200;
        }
    }
    img{
        float: left;
        width: 70px;
        height: 70px;
        
    }
}

nav.black .logo{
    height: 100px;
}

.navigation_link{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    
}

/*.navigation_right .navigation_link .section_link{
    list-style: none;

}*/

.nav__link{
    line-height: 60px;
    
}

.nav__link{
    font-size: $font-size;
    font-weight: 350;
    line-height: 80px;
    color: #555555;
    padding: 5px 15px ;
    text-decoration: none;
    text-transform: uppercase;
    
}

.nav__link--active {
    color: rgb(0, 0, 0);
    font-weight: 450;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    text-decoration: none;
  }

.nav__link:hover{
    color: rgb(0, 0, 0);
    font-weight: 500;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    text-decoration: none;
  }

.navigation_center{
    margin: 20px;
    padding: 0;   
    width: 100%;     
    display: flex;
    justify-content: center;
    text-align: center;
    .blog_title{
        width: 100%;
        color: #6e6e6e;
        font-family: 'Indie Flower', cursive;
        font-weight: 600;
        a{
            font-size: $font-size-tall-very*1.5;
            color: #6e6e6e;
      &:hover{
         text-decoration: none;
      }
        }
    }
}

.block_logo{
    grid-column: 1/1;
}

.navigation_right{
    grid-column: 3/3;
}

@media (max-width: 1350px)
{

    .responsive-bar{
        display: block;
        width: 100vw;
        height: 100px;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px 20px;
        box-sizing: border-box;
        z-index: 3;
        
    }
    .navigation_center{
        margin: 20px;
        padding: 0;   
        width: 100%;     
        display: flex;
        justify-content: center;
        text-align: center;
        
        .blog_title{
            width: 100%;
            color: #6e6e6e;
            font-family: 'Indie Flower', cursive;
            font-weight: 600;
            a{
                font-size: $font-size-tall-very*1.15;
                color: #6e6e6e;
          &:hover{
             text-decoration: none;
          }
            }
        }
    }
    .responsive-bar .logo img{
        float: left;
        width: 80px;
        height: 80px;
        //background-color: rgb(253, 215, 145);
        padding: 10px;
        border-radius: 50%;
        
    }
    .responsive-bar .menu h4{
         float: right;
         color: black;
         font-size: $font-size-tall;
         margin: 0 10px 0 0;
         padding: 0;
         line-height: 70px;
         cursor: pointer;
         text-transform: uppercase;
        i{
            margin-right: 5px;
        }
    }
    nav{
        position: absolute;
        min-height: 10vh;
        //padding: 0;
        
    }
    nav .logo {
        display: none;
    }
     .navigation_right .navigation_link{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 100px;
        left: 0;
        padding: 0px;
        background: #262626;
        float: none;
        display: none;
        
    }
    .navigation_right .navigation_link.active{
        display: block;
        
    }

    .navigation_right .navigation_link .section_link{
        width: 100%;
        padding: 0 50px;
        
    }

    /*nav.black{
        height: 60vh;
        padding: 0px 50px;
        .navigation_link .section_link .nav__link{
        line-height: 20px;
        //padding: 0 60px;
    }
    }*/

    .navigation_right .navigation_link .section_link .nav__link{
        display: block;
        padding: 20px 0;
        width: 100%;
        //text-align: center;
        line-height: 20px;
        color: #fff;
        border-bottom: 1px solid rgb(161, 161, 161);
        z-index: 99;
       }

       .navigation_blog{
           display: none;
       }
    
}

@media (max-width: 700px)
{

    .responsive-bar{
        display: block;
        width: 100vw;
        height: 100px;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px 20px;
        box-sizing: border-box;
        z-index: 3;
        
    }
    .navigation_center{
        margin: 20px;
        padding: 0;   
        width: 100%;     
        display: flex;
        justify-content: center;
        text-align: center;
        
        .blog_title{
            width: 100%;
            color: #6e6e6e;
            font-family: 'Indie Flower', cursive;
            font-weight: 600;
            a{
                font-size: $font-size-tall-very;
                color: #6e6e6e;
          &:hover{
             text-decoration: none;
          }
            }
        }
    }
    .responsive-bar .logo img{
        float: left;
        width: 80px;
        height: 80px;
        //background-color: rgb(253, 215, 145);
        padding: 10px;
        border-radius: 50%;
        
    }
    .responsive-bar .menu h4{
         float: right;
         color: black;
         margin: 0 5px 0 0;
         padding: 0;
         line-height: 70px;
         font-size: $font-size*1.25;
         cursor: pointer;
         text-transform: uppercase;
        i{
            margin-right: 5px;
        }
    }
    nav{
        position: absolute;
        min-height: 10vh;
        //padding: 0;
        
    }
    nav .logo {
        display: none;
    }
     .navigation_right .navigation_link{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 100px;
        left: 0;
        padding: 0px;
        background: #262626;
        float: none;
        display: none;
        
    }
    .navigation_right .navigation_link.active{
        display: block;
    }

    .navigation_right .navigation_link .section_link{
        width: 100%;
        padding: 0 50px;
        
    }

    /*nav.black{
        height: 60vh;
        padding: 0px 50px;
        .navigation_link .section_link .nav__link{
        line-height: 20px;
        //padding: 0 60px;
    }
    }*/

    .navigation_right .navigation_link .section_link .nav__link{
        display: block;
        padding: 20px 0;
        width: 100%;
        //text-align: center;
        line-height: 20px;
        color: #fff;
        border-bottom: 1px solid rgb(161, 161, 161);
        z-index: 99;
       }

       .navigation_blog{
           display: none;
       }
    
}



