.interlude{
    
    img{    
    width: 100vw;
    height: 300px;
    background-position: 90% 10%;
}
}

.mainintro{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    
    .mainintro_content{
        color: black;
        width: 70vw;
        //padding: 40px 0;
        h3{    
        font-size: $font-size-tall*1.25;
        font-weight: 500;
        border-bottom: 1px solid rgba(231, 182, 119, 0.698);
        padding: 20px 0;
        
        }
        p{
        font-size: $font-size*1.15;
        line-height: 1.3em;
        padding: 20px 0;
        font-weight: 400;
        line-height: 1.5em;
        }
        li{
        list-style: none;
        padding: 15px 0;
        font-weight: 400;
        }
    }
}

section.sec1{
    width: 100%;
    height: 100vh;
}

section.sec2{
    width: 100%;
    height: auto;
    background-color: #FFF;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    column-gap: 20px;
    .torrent_img{
        display: flex;
  align-items: center;
  justify-content: center;
    }
    img{
        width: 60%;
        //margin-top: 80px;
        padding: 4px;
        height: auto;
        background-color: rgb(255, 127, 67);
    }
    .sec2_img{
        display: flex;
  align-items: center;
  justify-content: center;
    }
    .accessbars {
        display: flex;
  align-items: center;
  justify-content: center;
    img{
        //margin-top: 80px;
        width: 420px;
        height: 450px;
    }
}
    .sec2_content{
        text-align: justify;
        width: 80%;
        margin: 0 0 0 20%;
        //padding: 50px 0 50px 150px;
        
  
        h3{
        font-size: $font-size-tall;
        font-weight: 500;
        border-bottom: 2px solid black;
        padding: 20px 0;
        }
        p{
        color: #0000009d;
        padding: 20px 0;
        line-height: 1.5em;
        span{
            font-weight: 700;
            color: black;
        }
        
    }
    .engagement_content p{
            margin-top: 0;
            padding-top: 0;
        }
    }
}


.payment_block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    width: 100vw;
    padding: 50px 0;
    background-color: #60cedd;
    a{
        color: black;
        &:hover{
            color:#fff;
            text-decoration: none;
        }
    }
.booking_cost{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size*1.15;
    padding: 0;
    margin: 0;
    //height: auto;
        &:hover{
            background-color: #fff;
        }
    .cost_calendar, .cost_shopping{
        border-radius: 30%;
        width: 65px;
        height: 60px;
        padding: 10px;
        margin-top: 0;
        margin: 0 10px 0 25px;
        border: 1px solid black;
        background-color: rgb(255, 126, 66);
    }
    .cost_shopping{
        margin: 0 10px 0 150px;
    }
    .booking_link{
        color: rgb(82, 82, 82);
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        font-weight: 500;
        padding: 7px;
        &:hover{
            color: black;
            background-color: #a0f4ff;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            border-right: 2px solid black;
            font-weight: 600;
        }

    }
}
.collective_payment:hover{
    border: 2px solid rgb(97, 97, 97);
    //background-color: rgba(45, 193, 206, 0.767);
    color: rgb(0, 0, 0);
    padding: 15px 0;

}
.collective_payment{
background-color: #FFF;
display: flex;
flex-direction: column;
justify-content: center;
border: 1px solid rgba(97, 97, 97, 0.534);
padding: 15px 0;
text-align: center;
width: 60%;
margin: 10px 0;
h3{
border-bottom: none;
font-size: $font-size-tall;
font-weight: 500;
padding: 0;
color: black;
}
p{
color: rgba(0, 0, 0, 0.815);
padding: 15px 0;
font-size: $font-size*1.15;
line-height: 1.5em;
}
}

h3{
font-size: $font-size-tall;
font-weight: 500;
border-bottom: 2px solid black;
padding: 20px 0;
}
p{
color: #0000009d;
padding: 10px;
font-size: $font-size*1.15;
font-weight: 700;
line-height: 0;
span{
    font-weight: 700;
    color: black;
}

}
.engagement_content p{
    margin-top: 0;
    padding-top: 0;
    color: black;
}
}

section.sec3{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url('../assets/images/staircaseedit.jpg');
    background-size: cover;
    background-position: 62% 38%;
    margin: 0;
    .sec3_content{
        color: rgb(255, 251, 251);
        background-color: rgba(0,0,0,0.4);
        width: 80vw;
        padding: 40px 0;
        h3{    
        font-size: $font-size-tall*1.25;
        font-weight: 800;
        border-bottom: 1px solid rgba(231, 182, 119, 0.698);
        padding: 20px 0;
        
        }
        p{
        font-size: $font-size*1.5;
        line-height: 1.3em;
        padding: 20px 0;
        font-weight: 400;
        line-height: 1.5em;
        }
        li{
        list-style: none;
        padding: 15px 0;
        font-weight: 400;
        }
    }
}

section.sec4{
    
    width: 100%;
    height: auto;
    background-color: #FFF;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    column-gap: 20px;
    .sec4_img img{
        background-color: rgb(255, 127, 67);
        padding: 4px;
        width: 60%;
        height: 65%;
    }
    .sec4_img{
        //margin: 0;
        //padding: 80px 0 20px 180px;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .sec4mobile_img img{
        display: none;
    }
    .sec4_content{
        //margin-right: 120px;
        width: 80%;
        //padding: 50px 100px 0 0;
        h3{
        font-size: $font-size-tall;
        font-weight: 500;
        border-bottom: 2px solid black;
        padding: 20px 0;
        }
        p{
        color: rgba(0, 0, 0, 0.815);
        padding: 20px 0;
        line-height: 1.5em;
        }
    }
}
   
section.sec4bis{
    width: 100%;
    height: auto;
    background-color: #FFF;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    column-gap: 20px;
    .profil_cam {
        display: flex;
        align-items: center;
        justify-content: center;
    img{
        background-color: rgb(255, 127, 67);
        //margin-top: 80px;
        padding: 4px;
        width: 450px;
    }
}
    
    /*img{
        margin-top: 150px;
        padding: 10px 0;
        width: 500px;
        height: auto;
    }*/
    .sec4bis_content{
        width: 50vw;
        padding: 50px 0px 100px 150px;
        h3{
        font-size: $font-size-tall;
        font-weight: 500;
        border-bottom: 2px solid black;
        padding: 20px 0;
        }
        p{
        color: rgba(0, 0, 0, 0.815);
        padding: 20px 0;
        line-height: 1.5em;
        }
    }
}

#contact{
    
    .contact_card img{
        width: 400px;
    }
    width: 100%;
    height: auto;
    //background-color: #1AA9B6;
    background-image: url('../assets/images/airballoon.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    //background-position: 120% -20%;
    .sec5_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.253);
        margin-bottom: 30px;
        p{
            font-size: $font-size*1.25;
        }
        .plane_icon{
            margin: 20px 10vw;
            border-top: 1px solid rgba(231, 182, 119, 0.698);

        i{
            font-size: 70px;
            margin: 20px 0;
        }
        }
        .coordonates{
        p{
            text-transform: lowercase;
        }
        h4{
            border-top: 1px solid rgba(231, 182, 119, 0.698);
            font-size: $font-size-tall;
            font-weight: 500;
            text-transform: uppercase;
            margin: 10px 13vw;
            padding-top: 15px;
                }    
        i{
            font-size: 30px;
            padding-right: 10px;
        }
        }
        h3{
        text-transform: uppercase;
        font-size: $font-size-tall-very;
        font-weight: 500;
        padding: 0 0 20px 0;
        }
        .contact_information{
            
            font-style: italic;
            font-weight: 100;
        
        }
        p:first-of-type, :nth-of-type(2), :last-of-type{
        margin-top: 10px; 
        }

        /*.social_ressources{
        //border-top: 1px solid rgba(0, 0, 0, 0.52);
        margin: 0px 18vw;
        padding: 0;
        a:nth-child(4){
             color: #0e87bf;
        }
        
       a:nth-child(2){
        color: #47639E;

   }
        .social_icons{

            
            i{
                
                font-size: 25px;
                margin: 10px;
               
               
            }
        }  
    }*/
        .emotion_content{

            .emotion{
            font-style: italic;
            font-size: $font-size*1.05;
            padding-bottom: 15px;
    
        }
         img{
            color: #fff;
            width: 60px;
            height: 50px;
            padding-bottom: 0;
        }
        }
          
    .contact_ressources{
        //border-top: 1px solid rgba(0, 0, 0, 0.52);
        padding: 10px 0 0 0;
        margin: 0px 16vw;
        
    .mail{
        padding: 10px;
        i{
            
            margin-right: 10px;
            font-size: 20px;
            margin-top: 0;

        }
        a{
            color: #fff;
            margin-left: 10px;
        }
    }
    .phone{
        i{
            margin-right: 10px;
            font-size: 25px;
        }
        margin-top: 10px;
        margin-bottom: 20px;
        a{
            margin-left: 10px;
        }
    }
}
    }    
    }
  

    // MEDIA QUERIES 

    @media screen and (max-width: 1200px) {

        .interlude{
    
            img{    
            width: 100vw;
            height: 300px;
            //background-position: 90% 10%;
        }
        }
        
        .mainintro{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            text-align: center;
            
            .mainintro_content{
                color: black;
                width: 80vw;
                //padding: 40px 0;
                h3{    
                font-size: $font-size-tall*1.25;
                font-weight: 500;
                border-bottom: 1px solid rgba(231, 182, 119, 0.698);
                padding: 20px 0;
                
                }
                p{
                font-size: $font-size*1.15;
                line-height: 1.3em;
                padding: 20px 0;
                font-weight: 400;
                line-height: 1.5em;
                }
                li{
                list-style: none;
                padding: 15px 0;
                font-weight: 400;
                }
            }
        }
        
        /*section.sec1{
            width: 100vw;
            height: 100vh;
        }*/
        .sec2_img{
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0 0 10px 0;
        img{
                padding: 4px;
                height: auto;
                background-color: rgb(255, 127, 67);
            }
        }
        section.sec2{
            width: 100vw;
            height: auto;
            background-color: #FFF;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            img{
                margin: 0;
                width: 400px;
            }
            .accessbars, .torrent_img{
                display: flex;
                justify-content: center;
            img{
                width: 400px;
                padding: 4px;
                margin: 0 0 10px 0;
                background-color: rgb(255, 127, 67);
            }
        }  
            .sec2_content{
                width: 100%;
                padding:  30px;
                margin: 0;
                
                h3{
                font-size: $font-size-tall;
                font-weight: 500;
                border-bottom: 2px solid black;
                padding: 20px 0;
                }
                p{
                color: #0000009d;
                padding: 20px 0;
                line-height: 1.5em;
                span{
                    font-weight: 700;
                    color: black;
                }
                
            }
            }
        }
        
        .payment_block{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0;
            width: 100vw;
            padding: 50px 0;
            background-color: #60cedd;
            a{
                color: black;
                &:hover{
                    color:#fff;
                    text-decoration: none;
                }
            }
        .booking_cost{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: $font-size*1.15;
            padding: 0;
            margin: 0;
            //height: auto;
                &:hover{
                    background-color: #fff;
                }
            .cost_calendar, .cost_shopping{
                border-radius: 30%;
                width: 65px;
                height: 60px;
                padding: 10px;
                margin-top: 0;
                margin: 0 10px 0 25px;
                border: 1px solid black;
                background-color: rgb(255, 126, 66);
            }
            .cost_shopping{
                margin: 0 10px 0 150px;
            }
            .booking_link{
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                border-right: 1px solid black;
                font-weight: 500;
                padding: 7px;
                &:hover{
                    color: rgb(82, 82, 82);
                    background-color: #a0f4ff;
                    border-top: 2px solid black;
                    border-bottom: 2px solid black;
                    border-right: 2px solid black;
                    font-weight: 700;
                }
        
            }
        }
        .collective_payment:hover{
            border: 2px solid rgb(97, 97, 97);
            //background-color: rgba(45, 193, 206, 0.767);
            color: rgb(0, 0, 0);
            padding: 15px 0;
        
        }
        .collective_payment{
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid rgba(97, 97, 97, 0.534);
        padding: 15px 0;
        text-align: center;
        width: 90%;
        margin: 10px 0;
        h3{
        border-bottom: none;
        font-size: $font-size-tall;
        font-weight: 500;
        padding: 0;
        color: black;
        }
        p{
        color: rgba(0, 0, 0, 0.815);
        padding: 15px 0;
        font-size: $font-size*1.15;
        line-height: 1.5em;
        }
        }
        
        h3{
        font-size: $font-size-tall;
        font-weight: 500;
        border-bottom: 2px solid black;
        padding: 20px 0;
        }
        p{
        color: #0000009d;
        padding: 10px;
        font-size: $font-size*1.15;
        font-weight: 700;
        span{
            font-weight: 700;
            color: black;
        }
        
        }
        .engagement_content p{
            text-align: center;
            margin: 10px 0;
            padding: 0 10px;
        }
        }
        
        
        
        section.sec3{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            text-align: center;
            background-image: url('../assets/images/staircaseedit.jpg');
            background-size: cover;
            background-position: center;
            //margin: 100px 0;
            .sec3_content{
                color: rgb(255, 251, 251);
                width: 80vw;
                padding: 40px 0;
                h3{    
                font-size: $font-size-tall*1.25;
                font-weight: 500;
                border-bottom: 1px solid rgba(231, 182, 119, 0.698);
                padding: 20px 0;
                
                }
                p{
                font-size: $font-size*1.25;
                line-height: 1.3em;
                padding: 20px 0;
                font-weight: 400;
                line-height: 1.5em;
                }
                li{
                list-style: none;
                padding: 15px 0;
                font-weight: 400;
                }
            }
        }
        
        section.sec4{
            
            display: flex;
            flex-direction: column;
            background-color: #FFF;
            width: 100vw;
            height: auto;
            margin: 0;
            .profil_cam img{
                width: 80vw;
                border-radius: 50% 50%;
            }
            .sec4mobile_img {
            display: flex;
            justify-content: center;
            img{
                display: block;
                padding: 4px;
                margin: 0 0 20px 0;
                width: 400px;
                background-color: rgb(255, 127, 67);
            }
        }

            .sec4_img img{
                display: none;
            }


            .sec4_content{
                width: 100vw;
                padding: 30px;
                grid-area: "text";
                h3{
                font-size: $font-size-tall;
                font-weight: 500;
                border-bottom: 2px solid black;
                padding: 20px 0;
                }
                p{
                color: rgba(0, 0, 0, 0.815);
                padding: 20px 0;
                line-height: 1.5em;
                }
            }
        }
           
        section.sec4bis{
            .profil_cam img{
                margin: 0 0 20px 0;
                width: 350px;
                border-radius: 50% 50%;
            }
            width: 100vw;
            height: auto;
            background-color: #FFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            img{
                margin-top: 150px;
                padding: 10px 0;
                width: 500px;
                height: auto;
            }
            .sec4bis_content{
                width: 100vw;
                padding: 30px;
                text-align: start;
                h3{
                font-size: $font-size-tall;
                font-weight: 500;
                border-bottom: 2px solid black;
                padding: 20px 0;
                }
                p{
                color: rgba(0, 0, 0, 0.815);
                padding: 20px 0;
                line-height: 1.5em;
                }
            }
        }
        
        #contact{
            .contact_card img{
                width: 100%;
            }
            width: 100%;
            height: auto;
            background-color: #1AA9B6;
            .sec5_content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                width: 100%;
                padding: 0 20px;
                font-size: $font-size*1.15;
                .plane_icon{
                    //margin: 20px 10vw;
                    border-top: 1px solid rgba(231, 182, 119, 0.698);
        
                i{
                    font-size: 70px;
                    margin: 20px 0;
                }
                }
                .coordonates{
                p{
                    text-transform: lowercase;
                   font-size: $font-size*1.15;
                }
                h4{
                    border-top: 1px solid rgba(231, 182, 119, 0.698);
                    font-size: $font-size-tall*1.15;
                    font-weight: 500;
                    text-transform: uppercase;
                   // margin: 10px 13vw;
                    padding-top: 15px;
                        }    
                i{
                    font-size: 30px;
                    padding-right: 10px;
                }
                }
                h3{
                text-transform: uppercase;
                font-size: $font-size-tall-very*1.15;
                font-weight: 500;
                padding: 0 0 20px 0;
                }
                .contact_information{
                    font-style: italic;
                }
                a{
                color: black;   
                }
                p:first-of-type, :nth-of-type(2), :last-of-type{
                margin-top: 10px; 
                }
        
                /*.social_ressources{
                //border-top: 1px solid rgba(0, 0, 0, 0.52);
                margin: 0px 18vw;
                padding: 0;
                a:nth-child(4){
                     color: #0e87bf;
                }
                
               a:nth-child(2){
                color: #47639E;
        
           }
                .social_icons{
        
                    
                    i{
                        
                        font-size: 25px;
                        margin: 10px;
                       
                       
                    }
                }  
            }*/
                .emotion_content{
        
                    .emotion{
                    font-style: italic;
                    font-size: $font-size*1.05;
                    padding-bottom: 15px;
            
                }
                 img{
                    width: 60px;
                    height: 50px;
                    padding-bottom: 0;
                }
                }
                  
            .contact_ressources{
                //border-top: 1px solid rgba(0, 0, 0, 0.52);
                padding: 10px 0 0 0;
                margin: 0px 16vw;
        
            .mail{
                i{
                    margin-right: 10px;
                    font-size: 20px;
                    margin-top: 0;
        
                }
                a{
                    margin-left: 10px;
                }
            }
            .phone{
                i{
                    margin-right: 10px;
                    font-size: 25px;
                }
                margin-top: 10px;
                margin-bottom: 20px;
                a{
                    margin-left: 10px;
                }
            }
        }
            }    
            }
        
    }

    @media screen and (max-width: 800px) {

        .sec2_img{
            width: 80%;
            display: flex;
            justify-content: center;
            margin: 0 0 10px 0;
        img{
                padding: 4px;
                height: auto;
                background-color: rgb(255, 127, 67);
            }
        }
        section.sec2{
            width: 100vw;
            height: auto;
            background-color: #FFF;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            img{
                margin: 0;
                width: 80%;
            }
            .accessbars, .torrent_img{
                display: flex;
                justify-content: center;
            img{
                width: 80%;
                padding: 4px;
                margin: 0 0 10px 0;
                background-color: rgb(255, 127, 67);
            }
        }  
            .sec2_content{
                width: 100%;
                padding:  30px;
                
                h3{
                font-size: $font-size-tall;
                font-weight: 500;
                border-bottom: 2px solid black;
                padding: 20px 0;
                }
                p{
                color: #0000009d;
                padding: 20px 0;
                line-height: 1.5em;
                span{
                    font-weight: 700;
                    color: black;
                }
                
            }
            }
        }
        
        section.sec4{
            
            display: flex;
            flex-direction: column;
            background-color: #FFF;
            width: 100vw;
            height: auto;
            margin: 0;
            .profil_cam img{
                width: 80vw;
                border-radius: 50% 50%;
            }
            .sec4mobile_img {
            display: flex;
            justify-content: center;
            img{
                display: block;
                padding: 4px;
                margin: 0 0 20px 0;
                width: 80%;
                background-color: rgb(255, 127, 67);
            }
        }

            .sec4_img img{
                display: none;
            }


            .sec4_content{
                width: 100vw;
                padding: 30px;
                grid-area: "text";
                h3{
                font-size: $font-size-tall;
                font-weight: 500;
                border-bottom: 2px solid black;
                padding: 20px 0;
                }
                p{
                color: rgba(0, 0, 0, 0.815);
                padding: 20px 0;
                line-height: 1.5em;
                }
            }
        }

        .payment_block{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100vw;
            padding: 20px;
            margin: 0px;
            background-color: #60cedd;
        .collective_payment:hover{
            border: 2px solid rgb(97, 97, 97);
            background-color: rgb(255, 255, 255);
            color: #FFF;
            padding: 15px 0;
        
        }
        .collective_payment{
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid rgba(97, 97, 97, 0.534);
        padding: 10px 10px;
        text-align: center;
        width: 100%;
        margin: 10px 10px 0 10px;
        h3{
        border-bottom: none;
        font-size: $font-size-tall;
        font-weight: 500;
        padding: 0;
        }
        p{
        color: rgba(0, 0, 0, 0.815);
        padding: 15px 0;
        line-height: 1.5em;
        }
        }
        
        h3{
        font-size: $font-size-tall;
        font-weight: 500;
        border-bottom: 2px solid black;
        padding: 20px 0;
        }
        p{
        color: #0000009d;
        padding: 20px 0;
        line-height: 1.5em;
        span{
            font-weight: 700;
            color: black;
        }
        
        }
        .booking_cost{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            font-size: $font-size;
            padding: 0;
            margin: 0px 30px;
            background-color: rgb(236, 236, 236);
            //height: auto;
                &:hover{
                    background-color: #fff;
                }
            .cost_calendar, .cost_shopping{
                border-radius: 30%;
                width: 55px;
                height: 50px;
                padding: 10px;
                margin: 0;
                border: 2px solid rgb(63, 63, 63);
                background-color: rgb(255, 255, 255);
            }
            .cost_shopping{
                margin: 0;
            }
            .booking_link{
                border: none;
                font-weight: 500;
                padding: 7px;
                text-decoration: underline;
                &:hover{
                    color: rgb(82, 82, 82);
                    background-color: #a0f4ff;
                    font-weight: 700;
                    text-decoration: underline;
                }
        
            }
        }
        .engagement_content p{
            text-align: center;
            margin: 0 20px;
            padding-top: 0;
        }
        }

        section.sec4bis{
            .profil_cam img{
                margin: 0 0 20px 0;
                width: 250px;
                border-radius: 50% 50%;
            }
            width: 100vw;
            height: auto;
            background-color: #FFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            img{
                margin-top: 150px;
                padding: 10px 0;
                width: 500px;
                height: auto;
            }
            .sec4bis_content{
                width: 100vw;
                padding: 30px;
                text-align: start;
                h3{
                font-size: $font-size-tall;
                font-weight: 500;
                border-bottom: 2px solid black;
                padding: 20px 0;
                }
                p{
                color: rgba(0, 0, 0, 0.815);
                padding: 20px 0;
                line-height: 1.5em;
                }
            }
        }
        
        #contact{
            .contact_card img{
                width: 100%;
            }
            width: 100%;
            height: auto;
            background-color: #1AA9B6;
            .sec5_content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                width: 100%;
                padding: 0 20px;
                font-size: $font-size*1.15;
                .plane_icon{
                    //margin: 20px 10vw;
                    border-top: 1px solid rgba(231, 182, 119, 0.698);
        
                i{
                    font-size: 70px;
                    margin: 20px 0;
                }
                }
                .coordonates{
                p{
                    text-transform: lowercase;
                   font-size: $font-size*1.15;
                }
                h4{
                    border-top: 1px solid rgba(231, 182, 119, 0.698);
                    font-size: $font-size-tall*1.15;
                    font-weight: 500;
                    text-transform: uppercase;
                   // margin: 10px 13vw;
                    padding-top: 15px;
                        }    
                i{
                    font-size: 30px;
                    padding-right: 10px;
                }
                }
                h3{
                text-transform: uppercase;
                font-size: $font-size-tall-very*1.15;
                font-weight: 500;
                padding: 0 0 20px 0;
                }
                .contact_information{
                    font-style: italic;
                }
                a{
                color: black;   
                }
                p:first-of-type, :nth-of-type(2), :last-of-type{
                margin-top: 10px; 
                }
        
                /*.social_ressources{
                //border-top: 1px solid rgba(0, 0, 0, 0.52);
                margin: 0px 18vw;
                padding: 0;
                a:nth-child(4){
                     color: #0e87bf;
                }
                
               a:nth-child(2){
                color: #47639E;
        
           }
                .social_icons{
        
                    
                    i{
                        
                        font-size: 25px;
                        margin: 10px;
                       
                       
                    }
                }  
            }*/
                .emotion_content{
        
                    .emotion{
                    font-style: italic;
                    font-size: $font-size*1.05;
                    padding-bottom: 15px;
            
                }
                 img{
                    width: 60px;
                    height: 50px;
                    padding-bottom: 0;
                }
                }
                  
            .contact_ressources{
                //border-top: 1px solid rgba(0, 0, 0, 0.52);
                padding: 10px 0 0 0;
                margin: 0px 16vw;
        
            .mail{
                i{
                    margin-right: 10px;
                    font-size: 20px;
                    margin-top: 0;
        
                }
                a{
                    margin-left: 10px;
                }
            }
            .phone{
                i{
                    margin-right: 10px;
                    font-size: 25px;
                }
                margin-top: 10px;
                margin-bottom: 20px;
                a{
                    margin-left: 10px;
                }
            }
        }
            }    
            }
        
    }


    @media screen and (max-width: 600px) {

        .payment_block{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100vw;
            padding: 10px;
            margin: 0px;
            background-color: #60cedd;
        .collective_payment:hover{
            border: 2px solid rgb(97, 97, 97);
            background-color: rgb(255, 255, 255);
            color: #FFF;
            padding: 15px 0;
        
        }
        .collective_payment{
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid rgba(97, 97, 97, 0.534);
        padding: 10px 10px;
        text-align: center;
        width: 100%;
        margin: 10px 10px 0 10px;
        h3{
        border-bottom: none;
        font-size: $font-size-tall;
        font-weight: 500;
        padding: 0;
        }
        p{
        color: rgba(0, 0, 0, 0.815);
        padding: 15px 0;
        line-height: 1.5em;
        }
        }
        
        h3{
        font-size: $font-size-tall;
        font-weight: 500;
        border-bottom: 2px solid black;
        padding: 20px 0;
        }
        p{
        color: #0000009d;
        padding: 20px 0;
        line-height: 1.5em;
        span{
            font-weight: 700;
            color: black;
        }
        
        }
        .booking_cost{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            font-size: $font-size;
            padding: 0;
            margin: 0px 30px;
            background-color: rgb(236, 236, 236);
            //height: auto;
                &:hover{
                    background-color: #fff;
                }
            .cost_calendar, .cost_shopping{
                border-radius: 30%;
                width: 55px;
                height: 50px;
                padding: 10px;
                margin: 0;
                border: 2px solid rgb(63, 63, 63);
                background-color: rgb(255, 255, 255);
            }
            .cost_shopping{
                margin: 15px 0 0 0;
            }
            .booking_link{
                border: none;
                font-weight: 500;
                padding: 7px;
                text-decoration: underline;
                &:hover{
                    border: 1px solid black;
                    color: rgb(82, 82, 82);
                    background-color: #a0f4ff;
                    font-weight: 700;
                    text-decoration: underline;
                }
        
            }
        }
        .engagement_content p{
            text-align: center;
            margin: 0 20px;
            padding-top: 0;
        }
        }

        section.sec4bis{
            .profil_cam img{
                margin: 0 0 20px 0;
                width: 250px;
                border-radius: 50% 50%;
            }
            width: 100vw;
            height: auto;
            background-color: #FFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            img{
                margin-top: 150px;
                padding: 10px 0;
                width: 500px;
                height: auto;
            }
            .sec4bis_content{
                width: 100vw;
                padding: 30px;
                text-align: start;
                h3{
                font-size: $font-size-tall;
                font-weight: 500;
                border-bottom: 2px solid black;
                padding: 20px 0;
                }
                p{
                color: rgba(0, 0, 0, 0.815);
                padding: 20px 0;
                line-height: 1.5em;
                }
            }
        }
        
        #contact{
            .contact_card img{
                width: 100%;
            }
            width: 100%;
            height: auto;
            background-color: #1AA9B6;
            .sec5_content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                width: 100%;
                padding: 0 20px;
                font-size: $font-size*1.15;
                .plane_icon{
                    //margin: 20px 10vw;
                    border-top: 1px solid rgba(231, 182, 119, 0.698);
        
                i{
                    font-size: 70px;
                    margin: 20px 0;
                }
                }
                .coordonates{
                p{
                    text-transform: lowercase;
                   font-size: $font-size*1.15;
                }
                h4{
                    border-top: 1px solid rgba(231, 182, 119, 0.698);
                    font-size: $font-size-tall*1.15;
                    font-weight: 500;
                    text-transform: uppercase;
                   // margin: 10px 13vw;
                    padding-top: 15px;
                        }    
                i{
                    font-size: 30px;
                    padding-right: 10px;
                }
                }
                h3{
                text-transform: uppercase;
                font-size: $font-size-tall-very*1.15;
                font-weight: 500;
                padding: 0 0 20px 0;
                }
                .contact_information{
                    font-style: italic;
                }
                a{
                color: black;   
                }
                p:first-of-type, :nth-of-type(2), :last-of-type{
                margin-top: 10px; 
                }
        
                /*.social_ressources{
                //border-top: 1px solid rgba(0, 0, 0, 0.52);
                margin: 0px 18vw;
                padding: 0;
                a:nth-child(4){
                     color: #0e87bf;
                }
                
               a:nth-child(2){
                color: #47639E;
        
           }
                .social_icons{
        
                    
                    i{
                        
                        font-size: 25px;
                        margin: 10px;
                       
                       
                    }
                }  
            }*/
                .emotion_content{
        
                    .emotion{
                    font-style: italic;
                    font-size: $font-size*1.05;
                    padding-bottom: 15px;
            
                }
                 img{
                    width: 60px;
                    height: 50px;
                    padding-bottom: 0;
                }
                }
                  
            .contact_ressources{
                //border-top: 1px solid rgba(0, 0, 0, 0.52);
                padding: 10px 0 0 0;
                margin: 0px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            .mail{
                
                text-align: center;
                width: 100%;
                i{
                    margin-bottom: 10px;
                    font-size: 20px;
                    margin-top: 0;
                    width: 100%;
                }
                a{
                    text-align: center;
                    width: 100%;
                    margin: 0;
                }
            }
            .phone{
                i{
                    margin-right: 10px;
                    font-size: 25px;
                }
                margin-top: 10px;
                margin-bottom: 20px;
                a{
                    margin-left: 10px;
                }
            }
        }
            }    
            }
        
    }
