section.sec1{
    width: 100%;
    height: 100vh;
}

section.sec2{
    width: 100%;
    height: 100vh;
    background-color: #E7B777;
    z-index: 3;

}

section.sec3{
    width: 100%;
    height: 100vh;
}

section.sec4{
    width: 100%;
    height: 100vh;
}

section.sec5{
    width: 100%;
    height: 100vh;
    
}

section.sec6{
    width: 100%;
    height: 100vh;
}

section.sec7{
    width: 100%;
    height: 100vh;
}

section.sec8{
    width: 100%;
    height: 100vh;
}