    .page_home{
        position: relative;
    min-height: auto;
    background-color: #F3F3F3;
    padding: 150px 0 50px 0;
    width: 100vw;
    }
    
    .page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    &_title{
        position: relative;
        font-size: $font-size-tall-very;
        font-weight: 800;
        text-align: center;
        padding: 0;
        margin-top: 0;
        width: 100%;
        z-index: 1;
    }
    &_content{
        position: relative;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    &_image img{
    position: absolute;
    top: 0;
    min-width: 100vw;
    max-width: 100vw;
    height: auto;
    }
}

// BOOKING PAGE FORM

.cpp_form{
        background-color: rgba(0,0,0,0.5);
        text-align: center;
    }
#fbuilder { 
    .usedSlotsfieldname3_1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .ahb_list{
        background-color: rgb(62, 179, 58);
        padding: 10px;
        width: 50%;
        
    }
    .slots {
    span{
        color: #fff;
    }
    a{
        color: black;
        font-size: $font-size*1.2;
    }
}
    .dfield input{
        background-color: rgb(87, 87, 87);
        &:hover{
            background-color: rgb(195, 195, 195);
        }
    }
    .captcha #text{
        padding: 10px;
    }
    .fields label{
        font-size: $font-size*1.20;
        padding: 10px 0;
        line-height: 1.4em;
        font-style: italic;
        color: #fff;
        
    }
    
    .fields input{
        text-transform: none;
        background-color: rgb(87, 87, 87);
        &:hover{
            background-color: rgb(195, 195, 195);
        }
    }
    .ahbfield_service{
        background-color: rgb(47, 47, 47);
        color: #fff;
        margin: 10px 0;
        padding: 10px;
        font-size: $font-size*1.20;
    }
    .ui-datepicker-inline{
        max-width:none !important; 
    }
    .ui-datepicker-header{
    background:#d34b22 ; 
    color:rgb(255, 255, 255); 
    text-shadow:none; 
    padding: 5px 0; 
    font-size: $font-size*1.15;
}
    .captcha{
        color: #fff;
    }
    
    .ui-state-default{
    font-size: $font-size*1.15;
    padding: 3px 0;
    color: black;
    }
    .pbSubmit{
        background-color: rgb(47, 47, 47);
        width: 100%;
        color: #fff;
        padding: 5px;
        font-size: $font-size-tall;
        text-align: center;
    &:hover{
        background-color: #4CAF50; 
        color: white; 
    }
}
}

.page_success{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: rgb(37, 146, 156);
    margin: 0;
    width: 100vw;
    &_content{
        color: #fff;
        font-size: $font-size*1.2;
        font-weight: 500;
        width: 40%;
        line-height: 1.5em;
        padding: 20px 0;
    }
    &_content_link{
            text-align: start;
            color: #442e28;
            margin: 20px;
            &:hover{
                color: #fff;
            }
    }
    &_blocklink{
        width: 100%;
        margin: 20px 0;
        border: 1px solid #fff;
        padding: 20px 10px;
       
        .link_image img{
            width: 50px;
        }
        .link_image_list{
            width: 25px;
        }
    
    }
    &_image img{
        text-align: center;
        width: 400px;
        height: 250px;
    }
    &_list{
        text-align: start;
        margin-left: 30px;
    }
    
}
.page_fail_content{
        color: rgb(200, 28, 28);
        font-size: $font-size*1.2;
        font-weight: 500;
        width: 40%;
        line-height: 1.5em;
        padding: 20px 0;
    }